.new-projects-display {
    background: grey;
    padding: 20px;
    overflow: hidden;
    margin: 80px 0;

    .projects-list {
        background: darkgrey;

        .project {

            border: 1px solid pink;
            overflow: hidden;
            height: fit-content;

            .project-tab {
                height: fit-content;
                background: #534447;

                transform: skewY(-50deg);

                .tab-text {
                    transform: skewY(50deg) rotate(-50deg);
                    transform-origin: center;

                }

            }

            .project-body {
                transform: scaleX(0);
                transform-origin: left;
                background: black;
                transition: 0.5s;
                opacity: 0;
            }

            .project-body.selected {
                transform: scaleX(1);
                opacity: 1;
            }
        }

        .project:last-child {
            margin-right: 0;
        }
    }




}